<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrapeForum</title>
    <link rel="stylesheet" href="/static/styling/pico.min.css">
</head>
<body>
    <main class="container">
        {{{nav}}}
        <form method="post">
            <div class="grid">
                <label for="comment">
                        Comment
                    <textarea name="comment" class="comment" id="comment" rows="3" cols="25" placeholder="Type Here..." required></textarea>
                </label>
            </div>
            <div class="grid">
                <button onclick="">Submit</button>
            </div>
        </form>
        {{{footer}}}
    </main>
</body>
</html>