<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/styling/pico.min.css">
    <link rel="stylesheet" href="./static/styling/create_post.css">
</head>
<body>
    <main class="container">
        {{{nav}}}
        <form method="post">
            <div class="grid">
                <label for="user">
                        Title
                    <input type="text" class="title" id="title" name="title" placeholder="Title" required>
                </label>
                </div>
                <div class="grid">
                <label for="password">
                        Content
                    <textarea name="content" class="content" id="content" rows="5" cols="25" placeholder="Type Here..."></textarea>
                </label>
            </div>
            <div class="grid">
                <button onclick="">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>