<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrapeForum</title>
    <link rel="stylesheet" href="../static/styling/pico.min.css">
</head>
<body>
    <main class="container">
        {{{nav}}}
        <form method="post">
            </div>
                <div class="grid">
                <label for="password">
                        Content
                    <textarea name="content" class="content" id="content" rows="5" cols="25" placeholder="Type Here..."></textarea>
                </label>
            </div>
            <div class="grid">
                <button onclick="">Submit</button>
            </div>
        </form>
        <form method="post" action="/posts/{{id}}/delete">  
            <div class="grid">
                <button>Delete</button>
            </div>
        </form>
        {{{footer}}}
    </main>
</body>
</html>