<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrapeForum</title>
    <link rel="stylesheet" href="./static/styling/pico.min.css">
    <link rel="stylesheet" href="./static/styling/index.css">
</head>
<body>
    <main class="container">
        {{{nav}}}
        <div class="greeting">   
            <h1>GrapeForum</h1>
            <h3>A sweet and simple forum platform for everyone.</h3>
            <div class="buttons">
                <a href="/login"><button>Login</button></a>
                <a href="/register"><button>Register</button></a>
            </div>
        </div>
        {{{footer}}}
    </main>
</body>
</html>