<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/styling/pico.min.css">
</head>
<body>
    <main class="container">
        <nav style="margin-top: -3%;">
            <ul>
                <li><strong><a href="/">GrapeForum</a></strong></li>
            </ul>
            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/home">Home</a></li>
            </ul>
        </nav>
    </main>
</body>
</html>